  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Welcome!</h1>
      <h2>Being established in the tradition of renowned clubs worldwide, it is proud to be an affiliated and associated member. The Greenwood Inn is the pioneer in offering first-class private club services with resort facilities tastefully designed and managed by a professional team setting international standards in quality and service excellence, which in turn, exceed the expectations and satisfaction of our esteemed distinguished guests/residents and members alike.
</h2>
      <hr />
    </div>
  </div>
  <div class ="container">
